body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    font-size: 30px;
    background: #303030;
    color: white;
    padding: 20px;
    text-align: center;
    font-variant: small-caps;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px repeat(3, 1fr);
    grid-template-rows: 75px repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    text-align: center;
    justify-content: space-evenly;
}

.city-search {
    margin: 10px;
    padding: 5px;
    grid-area: 1 / 1 / span 1 / span 2;
    justify-self: flex-start;
    font-size: 20px;
}

#cityInput {
    font-size: 14px;
    border: blue solid 2px;
}

.city-history {
    grid-area: 3 / 1 / span 5 / span 1;
}

.searchBtn {
    background: #2366eb;
    border-radius: 5px;
    border: 2px solid #1be0dd;
    color: white;
}

.searchBtn:hover {
    background: #15c7eb;
}

.weather {
    border-left: black solid 3px;
    grid-area: 1 / 3 / span 5 / span 5;
    text-align: end;
    justify-self: left;
    display: inline;
    width: 100%;
    border: solid #30545c 2px;
    margin: 5px;
    padding: 10px;
}
#icon {
    display: block;
    align-content: flex-start;
}
.weather ul {
    list-style: none;
    display: inline-block;
}

.weather h3 {
    text-align: left;
}

.weather h2 {
    text-align: left;
}

.description {
    text-align: left;
}

.uv {
    background: red;
    color: white;
}

.city-icon {
    display: flex;
}